<div class="row p-2">
    <div id="footer-logo" class="col m-4">LOGO</div>
    <div class="col help p-2">
        <div class="col head-text">Help</div>
        <div class="col"><a href="aboutUs.html">Community</a></div>
        <div class="col"><a href="aboutUs.html">Status</a></div>
        <div class="col"><a href="aboutUs.html">Contact</a></div>
    </div>

    <div class="col about p-2">
        <div class="col head-text">About</div>
        <div class="col"><a href="aboutUs.html">Company</a></div>
        <div class="col"><a href="aboutUs.html">Blog</a></div>
        <div class="col"><a href="aboutUs.html">Webinars</a></div>
    </div>

    <div class="col terms-&-policies p-2">
        <div class="col head-text">Terms & Policies</div>
        <div class="col"><a href="aboutUs.html">Policies</a></div>
        <div class="col"><a href="aboutUs.html">Privacy</a></div>
    </div>
</div>